<!DOCTYPE html>
<html>
    <head>
        <title>Webpage</title>
        <meta charset="utf-8">
        <meta lang="en-US">
        <script src="app.js" defer></script>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header">
            <h1 class="header-text">Main Header</h1>
            <h2 style="font-style: Italic;">And This Is A Small Italic</h1>
        </div>

        <div class="bordered">
            <section>
                <h2>Section Header</h2>
                <article>
                    <h3>Article header</h3>
                    <p>Inside an article</p>
                </article>
                <article>
                    <h3>Article header</h3>
                    <p>Inside another article</p>
                </article>
                <article>
                    <h3>Article header</h3>
                    <p>Inside another article</p>
                </article>
            </section>
    
            <section>
                <h2>Other Section Header</h2>
                <article>
                    <h3>Article header</h3>
                    <p>Inside an article</p>
                </article>
                <article>
                    <h3>Article header</h3>
                    <p>Inside another article</p>
                </article>
                <article>
                    <h3>Article header</h3>
                    <p>Inside another article</p>
                </article style="padding-bottom: 100px;">
            </section>
        </div>

        <aside class="sidebar">
            <a href="">Page 1</a>
            <a href="">Page 1</a>
            <a href="">Page 1</a>
        </aside>

        <footer class="footer">
            <p>My Website Footer: Built October 25th, 2022</p>
        </footer>
    </body>
</html>
